.stats{
    background-image: url('../images/stats-bg.jpg');
    @extend %bg;
    font-size: 200%;  
    min-height: 50vh;
    p{
        font-size: 16px;  
    }
    img{
        height: 95px;
    }
}
@media (min-width: 992px) { 
    .stats{
        .single{
            border-right: 1px solid #808080;
        }
    } 
}